:root {
    --white-text: #fff;
    --dark-text: #151515;
    --default-background: #101010;

    --background-dark: #080808;
    --background-light: #fff;
    --background-green: #13dd3f;
    --background-red: #df2222;

    --button-dark: #181818;
    --button-light: #e4e4e4;
    --button-green: #17f847;
    --button-red: #ff2a2a;

    --button-dark-border: #404040;
    --button-light-border: #9e9e9e;
    --button-green-border: #52ff78;
    --button-red-border: #ff5555;
}